
.bg-modify {
  margin-top: 2rem;
}
.bg-modify-imagesContainer {
  max-width: 80vw;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  
}

.bg-modify-imagesContainer > div {
  outline: 5px dotted var(--secondary);
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 16px 0;
  position: relative;
  
}
.bg-modify-imagesContainer > div > div {
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;

}
.bg-modify-imagesContainer > div > div img {
  width: 200px;
  aspect-ratio: 1/1;
  }
.bg-modify-imagesContainer > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg-modify form {
  display: flex;
  justify-content: center;
  width: max-content;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  gap: 10px;
  position: relative;
  margin-top: 2rem;
}
.bg-modify form * {
  width: 300px;
  padding: 10px 10px 10px 10px;
  text-align: start;
  text-align: center;
}
.bg-modify-input {
  display: none;
}
.bg-modify a {
  text-decoration: none;
}
.bg-modify :where(a, button, .bg-modify-inputLabel):hover {
  background: var(--bg-light);
  color: var(--primary);
  outline: 1px solid var(--primary);
}
.bg-modify :where(a, button, .bg-modify-inputLabel) {
  color: var(--bg-light);
  background: var(--primary);
  font-weight: 600;
  border-radius: 16px;
  border: none;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.visible {
  display: block;
  opacity: 1;
  }
  .not-visible {
  display: none;
  opacity: 0;
  }