.navbar {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}
.navbar-brand {
  display: flex;
  justify-content: center;
}
.navbar-brand p {
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}
